@page {
    margin: 7px;
    padding: 2px;
}

body {
    margin: 20px ;
}

td{
  text-align: justify;
}
.tabla{
  width: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}

.tabla td{
  font-size: 14px;
  padding: 3px;

}
.tabla label {
  font-weight: bold;
  margin-left: 3px;
  font-size: 14px;
}

.politica{
  font-size: 11px;
  text-align: justify
}
.div_politica{
  margin: 4px 7px 0px;
}
.tabla2 td, tr, p{
  margin:0px;
  padding: 0px;
}

.firmas{
  font-size: 14px;
  text-align: right;
}

.encabezado{
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenedor_logo{
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 5px;
}
.td1{
  width: 30%;
}
.info_empresa{
  width: 40%;
  text-align: center;
  padding: 0px;
}

.info_empresa p{
  font-size: 14px;
}

.h2{
  font-size: 20px;
  color: black ;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.h3{
  font-size: 17px;
  display: block;
  font-weight: bold;
  background: #ededed;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
  color: black;
}
.round{
  border-radius: 10px;
  border: 1px solid black;
  padding-bottom: 10px;
  overflow: hidden;
}
.round p, span{
  padding: 2px 10px;
  font-size: 14px;
}

.tabla tr:nth-child(even) {
    background: #ededed;
}
.tabla tr:nth-child(odd) {
   background:#FBFBF9;
 }
.imagen_logo1{
  margin-bottom: 3px;
}
.desprendible {
  margin-top: 17px;
  margin-bottom: 17px;
  width: 100%;
  font-size: 12px;
}

.tabla_desprendible {
  width: 100%;
}
.tabla_desprendible td{
  margin: 4px
}
.tab1{
  width: 30%;
  padding: 10px 0px;
  float: left;
  border-right: 1PX dashed #D5D5D0;
  border-top: 1px dashed #D5D5D0;

}
.tabla_desprendible label {
  font-weight: bold;
  margin-left: 3px;
  font-size: 13px;
}
.tab2{
  width: 70%;
  float: left;
  border-top: 1px dashed #D5D5D0;
  padding: 10px 0px;
}

.cobrable{
  text-align: center !important;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.contenedor_marca{
  text-align: center;
}

.garantia{
  text-align: center !important;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.garExtend{
  text-align: center !important;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
