@page {
    margin:0px;
    padding: 0px;
}

body {
    margin: 10px 14px ;
    margin-bottom: 5px;
    padding-bottom: 5px
}

td{
  text-align: justify;
}
.tabla{
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.margin{
  margin-top: 4px;
}

.tabla td{
  font-size: 13px;
  padding: 2px;

}
.tabla label {
  font-weight: bold;
  margin-left: 3px;
  font-size: 13px;
}

.politica{
  font-size: 11px;
  text-align: justify
}
.div_politica{
  margin: 4px 7px 0px;
  margin-bottom: 7px;
}
.tabla2 td, tr, p{
  margin:0px;
  padding: 0px;
}

.firmas{
  font-size: 13px;
  text-align: right;
  padding: 0px;
  margin: 0px;
  margin-top: 7px;
}
.firma2{
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
  padding-top: 13px;
}

.encabezado{
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenedor_logo{
  width: 100%;
  height: 80px;
  text-align: center;
}

.td1{
  width: 30%;
  text-align: center;
}
.info_empresa{
  width: 40%;
  text-align: center;
  padding: 0px;
}

.info_empresa p{
  font-size: 13px;
}

.h2{
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.h3{
  font-size: 16px;
  display: block;
  font-weight: bold;
  background: #ededed;
  text-align: center;
  padding: 1px;
  color: black;
}
.reparacion{
  font-size: 15px;
  font-weight: bold;
  display: block;
  background: #ededed;
  text-align: center;
  color: black;
}
.round{
  border-radius: 10px;
  border: 1px solid black;
  padding-bottom: 5px;
  overflow: hidden;
}
.round p, span{
  padding: 1px 10px;
  font-size: 13px;
}

.tabla tr:nth-child(even) {
    background: #ededed;
}
.tabla tr:nth-child(odd) {
   background:#FBFBF9;
 }
 .container{
   width: 100%;
   border-bottom: 1px dashed #D5D5D0;
 }
 .container2{
   width: 100%;
   margin-top: 5px;
 }
