@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.imagen{
  max-width: 100;
  max-height: 100;
}
.file{
  display: none;
}
.img-foto{
  font-size: 100px;
}
